$brightColor: #e23a05;
$brightColorOpac80: rgba(226, 58, 5, 0.8);
$brightColorOpac40: rgba(226, 58, 5, 0.4);
$lightgrey: #ccc;
$dark: #515151;
$middlegrey: #abb3bd;
$darkest: #000;
$lightest: #fff;
$keyboardBackground: #d1d5da;
$validateColorDisabled: rgba(40, 167, 69, 0.65);
$validateColor: #89b252;
